form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#guess-the-champion {
    margin: 200px auto 0;
    list-style-type: none;
    padding: 0;
    width: 20%;
    text-align: center;
}

#champions-list {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
    text-align: center;
    position: relative;
}

#champions-list li {
    margin-bottom: 10px;
}

#leftBox {
    top: 14%;
    left: 7%;
    bottom: 14%;
    width: 35%;
    border: 1px solid #bfbfbf;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #bfbfbf;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    position: absolute;
}

#rightBox {
    top: 14%;
    right: 7%;
    bottom: 14%;
    width: 35%;
    border: 1px solid #bfbfbf;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #bfbfbf;	
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    position: absolute;
}

::-webkit-scrollbar {
    width: 0;
}

#leftBox img:hover{
    cursor: pointer;
}

#championsBox {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#championsInfo {
   height: 50%;
   display: flex;
}

#championsProfile {
    width: 30%;
    border: 1px solid red;
}

#championsIcon {
    height: 60%;
    border: 1px solid orange;
}

#championsName {
    height: 40%;
    border: 1px solid purple;
    overflow: auto;
}

#championsBio {
    width: 70%;
    border: 1px solid green;
    display: flex;
}

#championsData {
    width: 50%;
    border: 1px solid brown;
    overflow: auto;
}

#championsAttributes {
    width: 50%;
    border: 1px solid fuchsia;
    overflow: auto;
}

#championsStats {
    height: 50%;
    border: 1px solid blue;
}

#championsNickname {
    height: 20%;
    border: 1px solid cornflowerblue;
    overflow: auto;
}

#championsLore {
    height: 80%;
    border: 1px solid white;
    overflow: auto;
}

.subBox {
    padding: 15px;
}

.cIcon {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.Icon {
    width: 75px;
    height: 75px;
    border-radius: 15px;
    margin: 15px;
}

.championsName {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    opacity: 0;
}