/* Style the form */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#guess-the-champion {
    margin: 200px auto 0;
    list-style-type: none;
    padding: 0;
    width: 20%;
    text-align: center;
}

/* Style the client list */
#champions-list {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
    text-align: center;
    position: relative;
}

#champions-list li {
    margin-bottom: 10px;
}

#box {
    margin-top: 7%;
    margin-left: 7%;
    margin-bottom: 7%;
    width: 35%;
    height: 70%;
    border: 1px solid #bfbfbf;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #bfbfbf;	
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

#box::-webkit-scrollbar {
    width: 0;
}

img:hover{
    cursor: pointer;
}

#championsBox {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.championsName {
    position: absolute;
}